<!DOCTYPE html>
<html>
  <head>
    <title>Eat Da Burger!</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
    <script src="/assets/js/burger.js"></script>
  </head>
  <body>
    {{{ body }}}
  </body>
</html>