<!DOCTYPE html>
<html>
  <head>
    <title>Eat Da Burger!</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/burger.js"></script>
  </head>
  <body>
    {{{ body }}}
  </body>
</html>